body {
    background-color: #f1f1f1;
    color: #252525;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    text-align: center;
}

.menu-game {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f1f1f1;
    color: #252525;
    border-width: 3px;
    border-style:solid;
    padding: 10px;
    font-size: 20px;
    display: inline-flex;
    transition: 0.2s;
    font-weight: bold;
}

.menu-game:hover {
    border-radius: 10px;
    color: #000000;
    background-color: #e4e4e4;
    transition: 0.3s;
}

.game-board {
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    min-width: 300px;
    width: 50vh;
    height: 50vh;
}

.game-board { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center; 
}

.game-cell {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f1f1f1;
    color: #252525;
    /* font-size: 20px;  */
    font-size: 0;
    min-height: 100px;
    min-width: 100px;
    border-width: 3px;
    border-style:solid;
    transition: 0.2s;
}

.game-cell {
    align-self: stretch;
    justify-self: stretch;
}

.c0 {border-top: 0; border-left: 0;}
.c1 {border-top: 0;}
.c2 {border-top: 0; border-right: 0;}
.c3 {border-left: 0;}
/* .c4 {border-top: 0; border-left: 0;} */
.c5 {border-right: 0;;}
.c6 {border-left: 0; border-bottom: 0;}
.c7 {border-bottom: 0;}
.c8 {border-bottom: 0; border-right: 0;}

.game-cell:hover {
    color: #000000;
    background-color: #e4e4e4;
    transition: 0.3s;
}

.c0:hover {border-radius: 20px 20px 0 20px;}
.c1:hover {border-radius: 20px 20px 0 0;}
.c2:hover {border-radius: 20px 20px 20px 0;}
.c3:hover {border-radius: 20px 0 0 20px;}
.c4:hover {border-radius: 10px;}
.c5:hover {border-radius: 0 20px 20px 0;}
.c6:hover {border-radius: 20px 0 20px 20px;}
.c7:hover {border-radius: 0 0 20px 20px;}
.c8:hover {border-radius: 0 20px 20px 20px;}

.win-info {display: none;}
